* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */
.break-all {
  word-break: break-all;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.heading {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #171100;
}

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

/* HEADER */

.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  padding: 36px 0 8px;
  align-items: center;
}

.nav {
  margin-left: auto;
}
.nav .list {
  display: flex;
}

.nav .list-item {
  position: relative;
  padding: 8px 21px;
  font-weight: 400;
  font-size: 1.6rem;
  color: #5f5b53;
}

.nav .list-item:hover,
.nav li.active .list-item {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  font-size: 16px;
  color: #171100;
}

.nav li.active .list-item::after {
  position: absolute;
  display: block;
  bottom: 6px;
  content: " ";
  left: 21px;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.header .register-btn {
  margin-left: 49px;
  min-width: 144px;
}

/* HERO */

/* hero */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  display: block;
  object-fit: cover;
  width: 470px;
  height: 685px;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  padding: 24px 58px 24px 24px;
  width: 270px;
  bottom: 48px;
  right: 0;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  background: #ffffff;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff9e8;
}

.hero-summary .item:nth-child(2) .icon {
  background: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
  background: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .info .label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  /* identical to box height, or 186% */
  color: #5f5b53;
}

.hero-summary .info .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  /* identical to box height, or 167% */
  color: #171100;
}

/* hero right */
.hero .content-block {
  padding: 64px 0 64px 130px;
  width: 52%;
}

.content-block .heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
  /* or 117% */
}

.content-block .desc {
  margin-top: 22px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  /* or 167% */
  color: #5f5b53;
}

.content-block .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}

.content-block .cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  color: #ffffff;
  background: var(--primary-color);
}

.content-block button {
  display: flex;
  align-items: center;
  margin-left: 20px;
  border: none;
  background: transparent;
}

.content-block .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.content-block a {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

.content-block .stats {
  margin-top: 8px;
}

.content-block .stats strong {
  font-family: var(--font-heading);
  margin-left: 28px;
  margin-right: 10px;
  font-weight: 700;
  font-size: 44px;
  color: #171100;
}

.content-block .stats strong:first-child {
  margin-left: 0;
}

/* POPULAR */

.popular {
  padding: 65px 0;
  margin-top: 135px;
}

/* popular top */
.popular-top {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.popular-top .heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
  /* identical to box height, or 126% */
}

.popular-top .desc {
  display: inline-block;
  width: 458px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  /* or 167% */
  color: #5f5b53;
}

.popular-top .control {
  display: flex;
  gap: 18px;
}

.popular-top .control button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: transparent;
}

.popular-top .control button:hover {
  color: #ffffff;
  background: var(--primary-color);
  cursor: pointer;
}

/* course-item */
.popular .course-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.popular .course-item {
  flex: 1;
  background: #ffffff;
  border: 1px solid #e2dfda;
  border-radius: 12px;
}

.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  display: flex;
  margin: -1px;
  width: calc(100% + 2px);
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .head a {
  padding-right: 6px;
  --line-clamp: 1;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  /* identical to box height, or 167% */
  color: #171100;
}

.popular .head .rate {
  display: flex;
  align-items: center;
  gap: 6px;
}

.popular .head .value {
  font-weight: 400;
  font-size: 1.6rem;
  color: #fea31b;
}

.popular .course-item .desc {
  --line-clamp: 2;
  margin-top: 6px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  /* or 186% */
  color: #5f5b53;
}

.popular .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.popular .foot .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  /* identical to box height, or 167% */
  color: #171100;
}

.popular .foot .book-btn {
  border: none;
}

.popular .foot .book-btn:hover {
  color: #ffffff;
  background: var(--primary-color);
}

/* FEEDBACK */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}
.feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback-item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

/* feedback left */

.feedback .info .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback .info .name {
  font-family: var(--font-heading);
  margin-top: 18px;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  /* identical to box height, or 142% */
  color: #f7f7f7;
}

.feedback .info .desc {
  margin-top: 4px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  /* identical to box height, or 186% */
  color: #bfbcb3;
}

.feedback-item .dots {
  display: flex;
  margin-top: 28px;
}

.feedback-item .dots .dot {
  display: block;
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active {
  background: #ffb900;
  cursor: default;
}

/* feedback right */
.feedback-item .content {
  margin: 0;
  width: 66%;
  margin-left: auto;
}
.feedback-item .content blockquote {
  font-style: italic;
  display: block;
  margin-left: 30px;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.54;
  /* or 154% */
  color: #ffffff;
}

/* FEATURES */
/* feature 1 */
.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .feature-1 {
  display: flex;
  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 30px;
}

.features .images .img-1 {
  margin-top: 34px;
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features .images .img-2 {
  margin-bottom: 33px;
  width: 270px;
  height: 405px;
  border-radius: 16px;
  object-fit: cover;
}

.features .feature-1 .info {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.features .info .heading.lv2 {
  font-size: 38px;
  line-height: 48px;
  /* or 126% */
}

.features .info .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  /* or 175% */
  color: #5f5b53;
}

.features .info .cta-btn {
  margin-top: 32px;
  min-width: 137px;
  background: var(--primary-color);
}

/* feature 2 */
.features .feature-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 135px;
  padding: 65px 0;
}
/* info */
.feature-2 .info {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* image */
.feature-2 .images .img-3 {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}

/* BLOG */
.blog {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blog .blog-top {
  text-align: center;
}

.blog .blog-top .heading {
  font-size: 3.8rem;
  font-weight: 700;
}

.blog .blog-top .desc {
  margin-top: 16px;
  font-size: 16px;
  line-height: 28px;
  color: #696262;
}

/* blog-list */
.blog .blog-list {
  display: flex;
  margin-top: 65px;
  gap: 30px;
  flex: 1;
  /* slide blog */
  overflow: hidden;
}

.blog .blog-list .blog-item {
  border-radius: 16px;
  background: #fff;
  /* slide blog */
  width: calc(33.3% - 20px);
  flex-shrink: 0;
}

.blog .blog-list .blog-item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .blog-list .thumb {
  object-position: 50% 30%;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.blog .blog-list .info {
  padding: 20px 20px 28px;
}

.blog .blog-list .date {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-bottom: 12px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.blog .blog-list .date::before {
  display: inline-block;
  content: "";
  margin-right: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.blog .blog-list .date::after {
  position: absolute;
  display: inline-block;
  content: "";
  height: 1px;
  right: -27px;
  bottom: 0;
  left: 0;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog .blog-list .title {
  margin: 12px 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  color: #171100;
}

.blog .blog-list .btn {
  font-size: 1.4rem;
}

.blog .blog-list .btn:hover {
  background: var(--primary-color);
}

.blog .dots {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.blog .dots .dot {
  display: block;
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.blog .dot.active {
  background: #ffb900;
  cursor: default;
}

/* FOOTER*/
.footer {
  padding: 96px 135px 28px;
  background: #2e2100;
}

.footer .row {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}

.footer .row .column {
  width: 21.6%;
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .column .desc {
  margin-top: 18px;
  font-size: 1.4rem;
  line-height: 1.85;
  width: 267px;
  height: 78px;
  color: #bfbcb2;
}

.footer .column .social {
  display: flex;
  margin-top: 18px;
  gap: 18px;
}

.footer .column .title {
  display: inline-block;
  padding: 0 48px 14px 0;
  border-bottom: 1px solid #59554b;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  color: #fff;
}

.footer .column .list {
  margin-top: 28px;
}

.footer .list a {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}

.footer .copyright {
  margin-top: 28px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.85;
  color: #807d74;
}
